body{
background: url(/assets/images/bookworm.jpg);
background-size: cover;
/* background-repeat: no-repeat; */
/* background: red; */
}

button{
font-family: 'Dancing Script', cursive;
font-size: 72px;
margin-left: 40%;
color: #d4c6b9;
background: none;
border: none;
cursor: pointer;
text-align: center;
}
button:hover {
color: white;
}


